<div class="sidebar">
    <sidebar-component></sidebar-component>
</div>
<header>
    <header-component></header-component>
</header>
<div class="main">
    <div class="w-100">
        <div class="breadcrumb-top"></div>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row">
            <div class="breadcrumb-bottom"></div>
        </div>
    </div>
</div>