@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "/node_modules/font-awesome/css/font-awesome.min.css";

* {
    font-family: Calibri;
    font-size: 17px;
    color: #525252;
}

a {
    color: white;
}

*[role="button"]{
    cursor: pointer;
}

table {
    border: 1px solid #979797;
}

table thead {
    background: #EFF2F6;
    border: 1px solid #979797;
}

table thead tr th {
    font-family: Calibri-Bold;
    font-size: 17px;
    font-weight: 700;
    color: #525252;
}

button{
    font-family: Calibri, "Times New Roman";
    font-size: 17px;
    background: #6892C1;
    border-radius: 6px;
    height: 40px;
    width: 87px;
}

.button-active{
    color:white;
    background-color: #6791C0;
    border-radius:	6px;
}

.button-disabled{
    color:white;
    background-color: #B6CAE1;
    border-radius:	6px;
}

/* Override default popoer title */
.popover-header {
    color: white;
    background-color: #546D89;
    text-align: center;
}

.bs-popover-auto[x-placement^=bottom] .popover-header::before, .bs-popover-bottom .popover-header::before{
    border-bottom-color: #546D89;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before{
    border-bottom-color: #546D89;
}

.popover-content {
    padding: 5px;
    width: 120px;
}