<div class="page-header mb-4 mt-5 ml-3">
    <button type="button" class="btn button-active" *ngIf="!editMode" (click)="editMode = !editMode">Edit</button>
    <button type="button" class="btn button-active" *ngIf="editMode" (click)="editMode = !editMode">Save</button>
</div>
<div>
    <table class="table table-bordered w-75">
        <thead class="thead-default">
        <tr>
            <th>Date</th>
            <th (click)="sortAlpabetically()">Type Something 1<span class="fa float-right" [ngClass]="{'fa-sort-alpha-asc': sortAsc, 'fa-sort-alpha-desc': !sortAsc}"></span></th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td>
                <input *ngIf="editMode" type="text" [(ngModel)]="item.dateCreated">
                <span *ngIf="!editMode">{{item.dateCreated}}</span>
            </td>
            <td>{{item.name}}</td>
            <td><span role="button" class="fa fa-trash text-danger icon-remove" (click)="deleteItem(item)" [ngClass]="{'disabled': !editMode}"></span></td>
        </tr>
        </tbody>
    </table>
</div>